<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Confirma tu cuenta Easy Task
        p Estas a unos pasos de estar inscrito solo presiona el siguiente boton
        a(href=`${confirmarUrl}`) Reestablecer contraseña
        p Si no puedes acceder a este enlace visita #{confirmarUrl}